div.div1 {
    background-color: green;
    width: 100%;
    height: 100px;
    display: inline-block;
}
div.div2 {
    background-color: blue;
    width: 49.8%;
    height: 200px;
    display: inline-block;
}
div.div3 {
    background-color: yellow;
    width: 49.8%;
    height: 200px;
    display: inline-block;
}
div.div4 {
    background-color: green;
    width: 100%;
    height: 100px;
    display: inline-block;
}
body {
    background-color: lightblue;
}